
body {
    position: relative;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 65%, rgb(255, 255, 255) 100%);
    font-family: Tahoma, sans-serif;
}

main {
    padding-bottom: 5rem;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Remove link decoration */
a {
    text-decoration: none;
}

.nav-bar {
    min-height: 2rem;
}

.nav-link {
    width: max-content;
    color: black;
}

.profile-picture {
    border-radius: 100%;
}

.badge-icon {
    display: inline;
    height: 2.5rem;
    width: 2.5rem;
}

.company {
    min-width: 10rem;
    max-width: 12rem;
    max-height: 12rem;
    display: inline-block;
}

.footer {
    font-size: small;
    padding: 1rem;
    width: 100%;
    background-color: black !important;
    color: white;
    position: absolute;
    bottom: 0;
    box-shadow: 0 -2px 2px 0 black;
}

.footer a {
    color: inherit;
    text-decoration: underline;
}

.footer small {
    font-size: smaller;
}

article {
    max-width: 50rem;
    margin: 0 auto;
}

.gap {
    height: 10vw;
}

.list {
    min-height: 90vh;
}

.list .col {
    max-width: 20rem;
}

a.btn {
    background-color: #000;
    border-color: #444;
}

#home-certifications img {
    max-height: 10rem;
}
