
body {
    position: relative;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 65%, rgb(255, 255, 255) 100%);
}

main {
    padding-bottom: 5rem;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav-link {
    max-width: max-content;
    color: black;
}

.profile-picture {
    border-radius: 100%;
}

.badge-icon {
    display: inline;
    height: 2.5rem;
    width: 2.5rem;
}

/* Remove link decoration */
a {
    text-decoration: none;
}

.company {
    min-width: 10rem;
    max-width: 12rem;
    max-height: 12rem;
    display: inline-block;
}

.footer {
    max-height: 20rem;
    padding: 1rem;
    width: 100%;
    background-color: black !important;
    color: white;
    position: absolute;
    bottom: 0;
}

article {
    max-width: 60vw;
    margin: 0 auto;
}

.gap {
    height: 10vw;
}

.blog-list {
    min-height: 100vh;
}

a.btn {
    background-color: #000;
    border-color: #444;
}

#home-certifications img {
    max-height: 10rem;
}
