
body {
    position: relative;
    background: linear-gradient(286deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 65%, rgb(255, 255, 255) 100%);
}

main {
    padding-bottom: 5rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link {
    font-weight: bold;
    color: black;
}

.profile-picture {
    border-radius: 100%;
}

.badge-icon {
    display: inline;
    height: 2.5rem;
    width: 2.5rem;
}

.nav-picture {
    max-height: 3rem;
}

/* Remove link decoration */
#home-jumbotron a {
    text-decoration: none;
}

.footer a {
    text-decoration: none;
}

#home-description .card {
    min-width: 9rem;
}

.company {
    max-width: 10em;
    display: inline-block;
}

.footer {
    height: 5rem;
    width: 100%;
    background-color: black !important;
    color: white;
    position: absolute;
    bottom: 0;
}

article {
    max-width: 60vw;
    margin: 0 auto;
}
