{{ define "main" }}

<div class="gap"></div>

<section id="home-jumbotron" class="row align-items-center">
    <div class="col-sm-7">
        <div class="m-3">
            <h3>{{ .Site.Data.about.jumboGreeting }}</h3>
            <h1>{{ .Site.Data.about.jumboTitle }}</h1>
            <h5 class="mt-2 mb-4 text-muted">{{ .Site.Data.about.jumboSubtitle | markdownify }}</h5>
            
            <a class="btn btn-primary" href="{{ .Site.Params.linkedinUrl }}" target="_blank" rel="noreferrer">
                Get in touch »
            </a>
        </div>
    </div>
    <div class="col p-3">
        {{ .Scratch.Set "path" "/images/profile.jpg" }}
        {{ .Scratch.Set "alt" "Picture of {{ .Site.Params.nameLower }}" }}
        {{ .Scratch.Set "class" "profile-picture" }}
        {{ partial "picture.html" .}}
    </div>
</section>

<div class="gap"></div>
<section id="home-description" class="row m-3 align-items-center">
    <div class="col-sm p-3 order-sm-last">
        <h2 class="mb-3">{{ .Site.Data.about.descriptionHeading }}</h2>
        {{ range .Site.Data.about.descriptions }}
        <p>{{ . | markdownify }}</p>
        {{ end }}
    </div>
    <div class="col-sm">
        <div class="row align-items-center">
            <div class="col p-3 company card">
                <h1>{{ sub now.Year 2014 }}+</h1>
                <p>years of working experience</p>
            </div>
            {{ range .Site.Data.about.companies }}
                {{ $image := resources.Get .img }}
                <div class="col p-3 company">
                    <img 
                        src={{ $image.RelPermalink }} 
                        alt="{{ index .name }}" 
                        loading="lazy"
                        decoding="async"
                    />
                </div>
            {{ end }}
        </div>
    </div>
</section>
<div class="gap"></div>
<section id="home-tech">
    <div class="mb-5 text-center">
        <h2>🧰 My Toolbox</h2>
    </div>
    <div class="row text-center">
        {{ range .Site.Data.about.tech }}
        <div class="mb-3 col-md">
            <h3>{{ index .categoryName }}</h3>
            {{ range index .items }}
                <span class="badge p-2 m-1 fs-5 bg-dark">{{ . }}</span>
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>
<div class="gap"></div>
<section id="home-my-work">
    <div class="mb-5 text-center">
        <h2>💼 My Work</h2>
        <p>{{ .Site.Data.about.myWorkText }}</p>
    </div>
    <div class="row">
        {{ range .Site.Data.about.projects }}
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card mb-3">
                {{ $filename := index .img }}
                {{ if ne $filename "" }}
                    {{ $url := print "/images/" $filename }}
                    {{ $image :=  resources.Get $url }}
                    {{ $image_sm := $image.Resize "400x webp q75" }}
                    <img 
                        src="{{ $image_sm.RelPermalink }}" 
                        class="card-img-top" 
                        alt="Project image"
                        loading="lazy"
                        decoding="async"
                    >
                {{ end }}

                {{ $video := index .vid }}
                {{ if ne $video "" }}
                {{ $url := print "video/" $video }}
                {{ $videoUrl := $url | relURL }}
                <video autoplay muted loop>
                    <source src="{{ $videoUrl }}" type="video/webm">
                    Your browser does not support the video tag.
                </video>
                {{ end }}

                <div class="card-body">
                    <h5 class="card-title">{{ index .name }}</h5>
                    <h6 class="text-muted">{{ index .period }}</h6>
                    <p class="card-text">{{ index .description | markdownify }}</p>

                    {{ $link := index .link }}
                    {{ if ne $link "" }}
                    <a href="{{ $link }}" rel="noreferrer" target="_blank" class="btn btn-primary">See more »</a>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
<div class="gap"></div>
<section id="home-certifications">
    <div class="text-center mb-5">
        <h2>🎓 Certifications</h2>
    </div>
    <div class="row mb-3">
        {{ range .Site.Data.about.certifications }}
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-4 p-3">
                        {{ $src := index .img | relURL }}
                        <img 
                            src="{{ $src }}" 
                            alt="{{ index .name }}"
                            loading="lazy"
                            decoding="async"
                        >
                    </div>
                    <div class="col-8 p-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ index .name }}</h5>
                            <p class="card-text">{{ index .issuer }} <small class="text-muted">- {{ index .date }}</small></p>
                            
                            {{ if ne (index .link) "" }}
                            <a href="{{ index .link }}" rel="noreferrer" target="_blank">See credential</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    
</section>
<div class="gap"></div>
<section id="home-contact">
    <div class="text-center mb-5">
        <h2>🤝 Get in touch</h2>
    </div>
    <div class="text-center mb-3">
        {{ range .Site.Data.about.socials }}
        <a href="{{ index .link }}" target="_blank" rel="noreferrer">
            {{ $logo := index .img | relURL }}
            <img class="m-1 badge-icon" src="{{ $logo }}" alt="{{ index .name }}" />
        </a>
        {{ end }}        
    </div>
</section>
<div class="gap"></div>

{{ end }}