<head>
    <meta charset="utf-8">
    <meta 
        name="description"
        content="{{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
    {{ $icon := "img/favicon.ico" | relURL }}
    <link rel="shortcut icon" href="{{ $icon }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {{ $reset := "css/bootstrap-reboot.min.css" | relURL }}
    <link rel="stylesheet" href="{{ $reset }}">
    {{ $style := "css/style.css" | relURL }}
    <link rel="stylesheet" href="{{ $style }}">
    <title>{{ .Title }}{{ if .Params.title }} {{ .Site.Params.titlePostfix }}{{ end }}</title>
</head>