<section id="home-jumbotron" class="row align-items-center">
    <div class="col-sm-7">
        <div class="m-3">
            <h3>{{ .Site.Data.home.jumboGreeting }}</h3>
            <h1>{{ .Site.Data.home.jumboTitle }}</h1>
            <h5 class="mt-2 mb-4 text-muted">{{ .Site.Data.home.jumboSubtitle | markdownify }}</h5>
            
            <a class="btn btn-primary" href="{{ .Scratch.Get "CTALink" }}" {{ if eq (.Scratch.Get "CTAExternalLink") "true" }}target="_blank" rel="noreferrer"{{ end }}>
                {{ .Scratch.Get "CTAText" }}
            </a>
        </div>
    </div>
    <div class="col">
        {{ $profile := "img/profile.jpg" | relURL }}
        <img src="{{ $profile }}" class="profile-picture" alt="Profile picture of {{ .Site.Params.nameLower }}" />
    </div>
</section>
