<header id="nav-border" class="text-center">
    <nav id="nav" class="nav-bar">
        <div class="float-md-start d-inline-block">
            <a class="p-3 nav-link font-monospace fst-italic bg-black text-white" href="/">{{ .Site.Params.nameLower }}</a>
        </div>
        <div class="float-md-end">
            {{ range .Site.Menus.main }}
            <div class="p-3 ms-3 d-inline-block">
                <a class="nav-link font-monospace" href="{{ .URL }}">{{ .Name }}</a>
            </div>
            {{ end }}
        </div>
    </nav>
</header>