{{ define "main" }}

<div class="gap"></div>
{{ .Scratch.Set "CTAText" "About me »" }}
{{ .Scratch.Set "CTALink" "/about" }}
{{ partial "hero.html" . }}
<div class="gap"></div>
<section id="recent-articles" class="list">
    <div class="text-center">
        <h2>Recent posts</h2>
    </div>
    <div class="row">
        {{ $blogs := .Site.GetPage "/blog" }}
        {{ range $blogs.Pages.ByPublishDate.Reverse | first 5 }}
        <div class="col p-3">
            <div>
                <a href="{{ .RelPermalink }}">
                    <h3>{{ .Title }}</h3>
                </a>
                {{ partial "date-and-tags.html" . }}
            </div>
        </div>    
        {{ end }}
    </div>
</section>
<div class="gap"></div>

{{ end }}